* {
    margin: 0;
    padding: 0;
    box-size: border-box;
}

.top-bar {
    background-color: #ff6b28;
    padding: 15px;
    text-align: center;
}

#header {
    background: url("../images/hero_bolo.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}